@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:#e0e0e0;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 1.8em;
    z-index: 20;
    color: #333;
    margin-bottom: 16px;
}
  
.time-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#e0e0e0;
    padding: 24px 32px;
    border-radius: 50px;
    box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
    width: 70%;
}
  
#time {
    font-size: 3em;
    font-weight: bold;
    color: #333;
    font-family: 'Poppins', sans-serif;
}

#day {
    font-size: 1.2em;
    font-family: 'Poppins', sans-serif;
}

.copy {
    background-color: #333;
    padding: 8px 10%;
    margin-top: 24px;
    border-radius: 10px;
    box-shadow: 0px 0px 16px #49494993;
    cursor: pointer;
}

.copy a {
    color: #fff;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

  
